.btn-blue{

	background-color: #0D3C7A;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.btn-blue:hover{

	background-color: #CCA778;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

